{% extends "layout.html" %}


{% block style %}
<style>

  /* Desktop resolution styling */
  @media screen and (min-width: 701px) {
    #Categories {
      width: 50%;
      float: left;
      padding-left: 20px;
      padding-right: 20px;
    }
    #Latest_Items {
      width: 50%;
      float: left;
      padding-left: 20px;
      padding-right: 20px;
    }
    .card {
      width: 100%;
    }
  }

  /* Mobile resolution styling */
  @media screen and (min-width: 100px) and (max-width: 700px) {
     body {
       background: black;
       color: white;
     }

     #Categories {
       width: 100%;
       float: left;
       padding-left: 20px;
       padding-right: 20px;
     }
     #Latest_Items {
       width: 100%;
       float: left;
       padding-left: 20px;
       padding-right: 20px;
     }

     .card {
       width: 100%;
     }

     .card-title {
       color: black;
     }
     
  }

  .card {
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }


  .cat-image {
    width: 50px;
    height: 50px;
  }

</style>
{% endblock %}


{% block body %}
<main>
  <div id="Categories">
    <h3>Category</h3>
      <div class="card card-body">
        <h5 class="card-title">{{ category.name }}</h5>
      </div>
  </div>
  <div id="Latest_Items">
    <h3>{{ items | count }} items</h3>
    <ul class="list-group">
    {% for i in items %}
        <li class="list-group-item"><a href="{{ url_for('showItem', category=i.category.name, item=i.name) }}">{{ i.name }}</a> ({{ i.category.name }})</li>
    {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('showAddItem') }}"><button type="button" class="btn btn-primary">Add</button></a>
    {% endif %}
  </div>


</main>
{% endblock %}
