{% extends "layout.html" %}


{% block style %}
<style>

  /* Styles for the shopping list form */

  .card {
    width: 250px;
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .main-table-categories {
    width: 40%;
    vertical-align: top;
  }

  .main-table-latestitems {
    width: 60%;
    vertical-align: top;
  }

  .main-table {
    vertical-align: top;
    margin: 5px;
  }

  .cat-image {
    width: 50px;
    height: 50px;
  }

</style>
{% endblock %}


{% block body %}
<main>
  <div style="height: 80px"></div>

  </div>

  <table class="main-table">
    <tr>
      <th><h2>Categories</h2></th>
      <th><h2>Latest Items</h2></th>
    </tr>
    <tr>
      <td class="main-table-categories">
        <section>
          {% for c in categories %}

                <div class="card card-body">
                  <!-- <img src="{{ c.image }}" class="cat-image" alt=""> -->
                  <a href="{{ url_for('showCategoryItems', category=c.name) }}"><h5 class="card-title">{{ c.name }}</h5></a>
                </div>
          {% endfor %}
        </section>
      </td>
      <td class="main-table-latestitems">
        <section>
          <ul class="list-group">
          {% for i in latest_items %}

              <li class="list-group-item"><a href="{{ url_for('showItem', category=i.category.name, item=i.name) }}">{{ i.name }}</a> ({{ i.category.name }})</li>

          {% endfor %}
          </ul>
        </section>
      </td>
    </tr>
  </table>
<div style="height: 68px">

</div>




</main>
{% endblock %}
