{% extends "layout.html" %}


{% block style %}
<style>

  /* Styles for the shopping list form */

  .card {
    width: 350px;
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .card.card-cascade {
    width: 350px;
  }

  .view {
    width: 350px;
  }

  .img-fluid {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

</style>
{% endblock %}


{% block body %}
<main>
  <section>
    <!--Card-->

      <div class="card card-cascade wider">
        <!--Card image-->
        <h2>Edit Item</h2>
        <div class="view overlay hm-white-slight">
            {% if item.image %}
            <img src="{{url_for('upload_static', filename=item.image)}}" class="img-fluid" alt="">
            {% endif %}
            <a>
                <div class="mask"></div>
            </a>
        </div>
        <!--Card image-->
        <form action="{{ url_for('editItem', item=item.name) }}" method="POST" enctype="multipart/form-data">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token }}">
        <div class="file-field">
          <div class="btn btn-primary btn-sm">
            <span>Change Image</span>
              <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" name="filepath" type="hidden" placeholder="Change Image">
          </div>
        </div>
        <div class="md-form">
          <input type="hidden" name="id" value="{{ item.id }}">
        </div>
        <div class="md-form">
          <input type="text" id="name1" name="name" class="form-control" value="{{ item.name }}">
          <label for="name1">Item name</label>
        </div>
        <div class="md-form">
          <input type="text" id="price1" name="price" class="form-control" value="{{ item.price }}">
          <label for="price1" class="">Price</label>
        </div>

        <div class="md-form">
          <textarea type="text" id="form76" name="description" class="md-textarea">{{ item.description }}</textarea>
          <label for="form76">Description</label>
        </div>
        <div class="md-form">
          <select class="mdb-select" name="category_id">
          {% for c in categories %}
            {% if c.name == item.category.name %}
              <option value="{{ c.id }}" selected>{{ c.name }}</option>
            {% else %}
              <option value="{{ c.id }}">{{ c.name }}</option>
            {% endif %}
          {% endfor %}
          </select>
          <label>Category</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="button" value="Save">Save</button>
            <button class="btn btn-secondary" type="submit" name="button" value="Cancel">Cancel</button>
        </div>
        </form>
      </div>
      <!--Card-->
  </section>

</main>
{% endblock %}

{% block script %}
<script>
// Material Select Initialization
 $(document).ready(function() {
    $('.mdb-select').material_select();
  });
</script>
{% endblock %}
